html, body {
  height: 100%;
  margin: 0;
}

body {
  background-color: #fff;
  font-family: sans-serif;
  overflow: hidden;
}

.content {
  height: 100%;
  width: 100%;
}

#blocklyArea {
  height: 100%;
  width: 70%;
  float: left;
}

#codeArea {
  height: 100%;
  width: 30%;
  background-color: lightgray;
  float: right;
}
